.main-content{
  padding-top: 50px;
    
  }
  

  
  h1{
    color: #333;
    font-family: "Fredoka One", cursive;
    text-align: center;
    font-size: 4.2em;
    padding-bottom: 0.5em;
  }
  
  .header{
    padding-bottom: 3px;
  }
  
  #title{
    display: inline-block;
    font-size: 2.6em;
    font-family: "Fredoka One", cursive;
    text-align: center;
    padding-bottom: 60px;
  }
  
  .pixabayLogo{
    width:100px;
    
  }
  
  .logo{
    padding-bottom: 24px;
    text-align: center;
    float:right;
  }
  
  
  @media  (max-width: 450px){
    #title{
      display: inline-block;
      font-size: 1.6em;
      font-family: "Fredoka One", cursive;
      text-align: center;
      padding-bottom:20px;
    }
    .pixabayLogo{
      width:50px;
      
    }
    
  }